{% extends "app/layoutEmp.html" %}




{% block content %}
{% load crispy_forms_tags %}
<div class="shadow-lg continer">
  <form method="POST" action="{% url  'import_csv' %}" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Excel Data Upload</h2>

            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div class="col-md-8 col-sm-12 col-xs-12 form-group">


            </div>

            <input type="file" name="myfile" class="form-control"  accept=".xlsx" required>
            <button type="submit"   class="btn btn-success">Upload</button>
            <br />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}